h4{
    text-align: center;
    font-size: 36px;
}

a{
    text-decoration: none;
    margin-left: 10px;
}


div{
    margin-top: 50px;
    text-align: center;
}

.btn{
    outline: none;
    border: none;
    background: transparent;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
}

.btn-white{
    background: #fff;
}

.btn-light{
    background: lightgrey;
}

.btn-dark{
    background: darkgrey;
}

.btn-black{
    background: black;
    color: #fff;
}

.btn-text{
    text-decoration: underline;
}

.btn-primary{
    background: rgb(134, 238, 207);
    color: #fff;
}

.btn-link{
    background-color: rgb(22, 152, 228);
    color: #fff;
}

.btn-info{
    background: rgb(130, 205, 235);
    color: #fff;
}

.btn-succes{
    background: rgb(122, 253, 82);
    color: #fff;
}

.btn-warning{
    background: rgb(243, 243, 82);
    color: black;
}

.btn-danger{
    background: rgb(240, 88, 88);
    color: #fff;
}

.btn-primary-light{
    background: rgb(227, 245, 239);
    color: rgb(78, 194, 159);
}

.btn-link-light{
    background: rgb(223, 235, 243);
    color: rgb(46, 165, 235);
}

.btn-info-light{
    background: rgb(205, 235, 247);
    color: rgb(46, 182, 236);
}

.btn-succes-light{
    background: rgb(224, 253, 216);
    color: rgb(79, 216, 37);
}

.btn-warning-light{
    background: rgb(255, 255, 221);
    color: rgb(153, 153, 58);
}

.btn-danger-light{
    background: rgb(252, 223, 223);
    color: rgb(247, 59, 59);
}

.btn-small{
    font-size: 10px;
    border: solid;
}

.btn-default{
    border: solid;
}

.btn-normal{
    font-size: 16px;
    border: solid;
}

.btn-medium{
    font-size: 32px;
    border: solid;
}

.btn-large{
    font-size: 64px;
    border: solid;
}